@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.176);
  background: white;
  position: relative;
}

* {
  font-family: "Overpass", sans-serif;
}

body {
  display: flex;
  background: rgb(243, 225, 227);
}
.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}

/* .user--posts--wrapper {
  columns: 200px;
} */

.user--posts--wrapper > div {
  margin-bottom: 10px;
}

/* Loader styling */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
