@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.176);
  background: white;
  position: relative;
}

* {
  font-family: "Overpass", sans-serif;
}

body {
  display: flex;
  background: rgb(243, 225, 227);
}
.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}

/* .user--posts--wrapper {
  columns: 200px;
} */

.user--posts--wrapper > div {
  margin-bottom: 10px;
}
