#root {
  min-height: 100vh;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.176);
  background: white;
}

body {
  background: rgb(243, 225, 228);
}
.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}
