@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

.swiper {
  overflow: visible;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-inactive-color: #9d9c9e;
  --swiper-pagination-color: #100f0f;
  --swiper-pagination-bullet-size: 9px;
  /* --swiper-pagination-bullet-active: 20px; */
  --swiper-pagination-bottom: -5px;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-bullet-size: 11px;
}

.swiper-slide {
  padding-bottom: 25px;
}

.swiper-pagination {
  align-items: center;
}
